img {
  width: 200px;
  height: 300px;
}
.title-main {
  width: 200px;
  text-overflow: ellipsis;
  text-decoration: underline lightgreen;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 20px;
}
.movie-container {
  text-align: center;
  margin: 0px 10px;
  margin-top: 30px;
  position: relative;
  word-wrap: break-all;
  align-items: baseline;
}
img {
  border: 1px solid white;
  border-radius: 10px;
}
.heart {
  position: absolute;
  bottom: 0;
  padding: 5px;
  border-radius: 50%;
  background-color: lightslategray;
  font-size: 20px;
  color: red;
  left: -10px;
}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.favorite {
  color: lightgreen;
}
.info-popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 3;
  overflow-y: scroll;
}

.popup {
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50vw;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.x {
  background-color: lightslategray;
  border: 1px solid black;
}
.fa-window-close {
  color: lightgreen;
}
